[manifest]
version = "1.2"
dump_lua = true
priority = 0


[[patches]]
[patches.pattern]
target = "functions/misc_functions.lua"
pattern = """  return G.ARGS.LOC_COLOURS[_c] or _default or G.C.UI.TEXT_DARK"""
position = "before"
payload = """if AKYRS then AKYRS.add_formatting_colours(G.ARGS.LOC_COLOURS) end"""
overwrite = true
match_indent = true

