[manifest]
version = "1.2"
dump_lua = true
priority = 0


[[patches]]
[patches.pattern]
target = "card.lua"
pattern = """    local badges = {}"""
position = "after"
payload = """
            loc_vars = loc_vars or {}
            -- if (self.is_null or SMODS.has_enhancement(self, "m_akyrs_scoreless")) and loc_vars then
            --     loc_vars.nominal_chips = nil
            -- end
"""
overwrite = true
match_indent = true



[[patches]]
[patches.pattern]
target = "card.lua"
pattern = """    if self.ability.name == 'The Wheel of Fortune' or self.ability.name == 'Ectoplasm' or self.ability.name == 'Hex' then"""
position = "before"
payload = """
if self.ability.name == 'The Wheel of Fortune' then
    if next(SMODS.find_card("j_akyrs_tsunagite")) then
        SMODS.calculate_effect({
            message = localize("k_akyrs_tsunagi_absurd_wheel_nope")
        },self)
        return
    end
end
"""
overwrite = true
match_indent = true



[[patches]]
[patches.pattern]
target = "functions/common_events.lua"
pattern = """            text = localize{type='variable',key='a_xchips'..(amt<0 and '_minus' or ''),vars={math.abs(amt)}}"""
position = "at"
payload = """            text = Talisman and localize{type='variable',key='a_xchips'..(to_big(amt)<to_big(0) and '_minus' or ''),vars={math.abs(amt)}} or localize{type='variable',key='a_xchips'..(amt<0 and '_minus' or ''),vars={math.abs(amt)}}"""
overwrite = true
match_indent = true



[[patches]]
[patches.pattern]
target = "functions/state_events.lua"
pattern = """            G.STATE = G.STATES.HAND_PLAYED"""
position = "before"
payload = """SMODS.calculate_context({akyrs_pre_play = true, akyrs_pre_play_cards = G.hand.highlighted})
"""
overwrite = true
match_indent = true



[[patches]]
[patches.pattern]
target = "functions/state_events.lua"
pattern = """    for k, v in ipairs(G.playing_cards) do
        v.ability.forced_selection = nil
    end
    
    table.sort(G.hand.highlighted, function(a,b) return a.T.x < b.T.x end)"""
position = "after"
payload = """SMODS.calculate_context({akyrs_extremely_pre_play = true, akyrs_pre_play_cards = G.hand.highlighted})
"""
overwrite = true
match_indent = true



[[patches]]
[patches.pattern]
target = "functions/button_callbacks.lua"
pattern = """              G.STATE = G.STATES.SHOP"""
position = "before"
payload = """
if G.GAME.akyrs_always_skip_shops then
    G.STATE = G.STATES.BLIND_SELECT
else
"""
overwrite = true
match_indent = true

[[patches]]
[patches.pattern]
target = "functions/button_callbacks.lua"
pattern = """   G.STATE = G.STATES.SHOP"""
position = "after"
payload = """end"""
overwrite = true
match_indent = true


[[patches]]
[patches.pattern]
target = "blind.lua"
pattern = """        self.chips = get_blind_amount(G.GAME.round_resets.ante)*self.mult*G.GAME.starting_params.ante_scaling"""
position = "after"
payload = """self.chips = AKYRS.mod_blind_requirement(self,self.chips)"""
overwrite = true
match_indent = true


[[patches]]
[patches.pattern]
target = "card.lua"
pattern = """    if not initial and delay_sprites ~= "quantum" and G.GAME.blind then G.GAME.blind:debuff_card(self) end"""
position = "before"
payload = """if G.GAME.blind and G.GAME.blind.debuff_card then"""
overwrite = true
match_indent = true



[[patches]]
[patches.pattern]
target = "card.lua"
pattern = """    if not initial and delay_sprites ~= "quantum" and G.GAME.blind then G.GAME.blind:debuff_card(self) end"""
position = "after"
payload = """end"""
overwrite = true
match_indent = true

[[patches]]
[patches.pattern]
target = "functions/state_events.lua"
pattern = """        mult, hand_chips = mod_mult(mult), mod_chips(hand_chips)"""
position = "before"
payload = """local akyrs_no_default_update = AKYRS.base_cm_mod(G.play.cards, {text,disp_text,poker_hands,scoring_hand,non_loc_disp_text}, hand_chips, mult, already_ran)"""
overwrite = true
match_indent = true




[[patches]]
[patches.pattern]
target = "functions/state_events.lua"
pattern = """    if G.GAME.current_round.current_hand.handname ~= disp_text then delay(0.3) end"""
position = "before"
payload = """local akyrs_no_default_update = AKYRS.base_cm_mod(G.play.cards, {text,disp_text,poker_hands,scoring_hand,non_loc_disp_text}, hand_chips, mult, already_ran)"""
overwrite = true
match_indent = true




[[patches]]
[patches.pattern]
target = "functions/state_events.lua"
pattern = """    update_hand_text({sound = G.GAME.current_round.current_hand.handname ~= disp_text and 'button' or nil, volume = 0.4, immediate = true, nopulse = nil,"""
position = "before"
payload = """if not akyrs_no_default_update then"""
overwrite = true
match_indent = true



[[patches]]
[patches.pattern]
target = "functions/state_events.lua"
pattern = """                delay = G.GAME.current_round.current_hand.handname ~= disp_text and 0.4 or 0}, {handname=disp_text, level=G.GAME.hands[text].level, mult = G.GAME.hands[text].mult, chips = G.GAME.hands[text].chips})"""
position = "after"
payload = """end"""
overwrite = true
match_indent = true


[[patches]]
[patches.pattern]
target = "functions/state_events.lua"
pattern = """        if modded then update_hand_text({sound = 'chips2', modded = modded}, {chips = hand_chips, mult = mult}) end"""
position = "before"
payload = """if not akyrs_no_default_update then"""
overwrite = true
match_indent = true

[[patches]]
[patches.pattern]
target = "functions/state_events.lua"
pattern = """        if modded then update_hand_text({sound = 'chips2', modded = modded}, {chips = hand_chips, mult = mult}) end"""
position = "after"
payload = """end"""
overwrite = true
match_indent = true



[[patches]]
[patches.pattern]
target = "functions/state_events.lua"
pattern = """        check_for_unlock({type = 'hand', handname = text, disp_text = non_loc_disp_text, scoring_hand = scoring_hand, full_hand = G.play.cards})"""
position = "after"
payload = """local already_ran = true"""
overwrite = true
match_indent = true


[[patches]]
[patches.pattern]
target = "card.lua"
pattern = """        perma_h_dollars = self.ability and self.ability.perma_h_dollars or 0,"""
position = "after"
payload = """akyrs_perma_score = self.ability and self.ability.akyrs_perma_score or 0,
akyrs_perma_h_score = self.ability and self.ability.akyrs_perma_h_score or 0,
akyrs_perma_xscore = self.ability and self.ability.akyrs_perma_xscore or 1,
akyrs_perma_h_xscore = self.ability and self.ability.akyrs_perma_h_xscore or 1,
"""
overwrite = true
match_indent = true



[[patches]]
[patches.pattern]
target = "card.lua"
pattern = """                    bonus_x_chips = self.ability.perma_x_chips ~= 0 and (self.ability.perma_x_chips + 1) or nil,"""
position = "after"
payload = """akyrs_perma_score = self.ability.akyrs_perma_score ~= 0 and (self.ability.akyrs_perma_score) or nil,
akyrs_perma_h_score = self.ability.akyrs_perma_h_score ~= 0 and (self.ability.akyrs_perma_h_score) or nil,
akyrs_perma_xscore = self.ability.akyrs_perma_xscore ~= 1 and (self.ability.akyrs_perma_xscore) or nil,
akyrs_perma_h_xscore = self.ability.akyrs_perma_h_xscore ~= 1 and (self.ability.akyrs_perma_h_xscore) or nil,
"""
overwrite = true
match_indent = true



[[patches]]
[patches.pattern]
target = '=[SMODS _ "src/utils.lua"]'
pattern = """    if specific_vars and specific_vars.bonus_h_dollars then
        localize{type = 'other', key = 'card_extra_h_dollars', nodes = desc_nodes, vars = {SMODS.signed_dollars(specific_vars.bonus_h_dollars)}}
    end"""
position = "after"
payload = """
if specific_vars and specific_vars.akyrs_perma_score then
    localize{type = 'other', key = 'akyrs_perma_score', nodes = desc_nodes, vars = {SMODS.signed(specific_vars.akyrs_perma_score)}}
end
if specific_vars and specific_vars.akyrs_perma_h_score then
    localize{type = 'other', key = 'akyrs_perma_h_score', nodes = desc_nodes, vars = {SMODS.signed(specific_vars.akyrs_perma_h_score)}}
end
if specific_vars and specific_vars.akyrs_perma_xscore then
    localize{type = 'other', key = 'akyrs_perma_xscore', nodes = desc_nodes, vars = {(specific_vars.akyrs_perma_xscore)}}
end
if specific_vars and specific_vars.akyrs_perma_h_xscore then
    localize{type = 'other', key = 'akyrs_perma_h_xscore', nodes = desc_nodes, vars = {(specific_vars.akyrs_perma_h_xscore)}}
end
"""
overwrite = true
match_indent = true


[[patches]]
[patches.pattern]
target = '=[SMODS _ "src/game_object.lua"]'
pattern = """            if specific_vars and specific_vars.bonus_h_dollars then
                localize{type = 'other', key = 'card_extra_h_dollars', nodes = desc_nodes, vars = {SMODS.signed_dollars(specific_vars.bonus_h_dollars)}}
            end"""
position = "after"
payload = """
if specific_vars and specific_vars.akyrs_perma_score then
    localize{type = 'other', key = 'akyrs_perma_score', nodes = desc_nodes, vars = {SMODS.signed(specific_vars.akyrs_perma_score)}}
end
if specific_vars and specific_vars.akyrs_perma_h_score then
    localize{type = 'other', key = 'akyrs_perma_h_score', nodes = desc_nodes, vars = {SMODS.signed(specific_vars.akyrs_perma_h_score)}}
end
if specific_vars and specific_vars.akyrs_perma_xscore then
    localize{type = 'other', key = 'akyrs_perma_xscore', nodes = desc_nodes, vars = {(specific_vars.akyrs_perma_xscore)}}
end
if specific_vars and specific_vars.akyrs_perma_h_xscore then
    localize{type = 'other', key = 'akyrs_perma_h_xscore', nodes = desc_nodes, vars = {(specific_vars.akyrs_perma_h_xscore)}}
end
"""
overwrite = true
match_indent = true



[[patches]]
[patches.pattern]
target = "functions/common_events.lua"
pattern = """        -- TARGET: main scoring on played cards"""
position = "before"
payload = """

local akyrs_score = card:akyrs_get_perma_score()
if akyrs_score ~= 0 then
    ret.playing_card.akyrs_score = akyrs_score
end
local akyrs_xscore = card:akyrs_get_perma_xscore()
if akyrs_xscore ~= 1 then
    ret.playing_card.akyrs_xscore = akyrs_xscore
end
"""
overwrite = true
match_indent = true



[[patches]]
[patches.pattern]
target = "functions/common_events.lua"
pattern = """        -- TARGET: main scoring on held cards"""
position = "before"
payload = """
local akyrs_h_score = card:akyrs_get_perma_h_score()
if akyrs_h_score ~= 0 then
    ret.playing_card.akyrs_h_score = akyrs_h_score
end
local akyrs_h_score = card:akyrs_get_perma_h_xscore()
if akyrs_h_xscore ~= 1 then
    ret.playing_card.akyrs_h_xscore = akyrs_h_xscore
end
"""
overwrite = true
match_indent = true



[[patches]]
[patches.pattern]
target = "functions/common_events.lua"
pattern = """        if extra.edition then """
position = "before"
payload = """
if extra.akyrs_no_sound then
    sound = nil
end
if extra.akyrs_set_sound then
    sound = extra.akyrs_set_sound
end
if extra.akyrs_update_score then
    akyrs_update_score = true
end
"""
overwrite = true
match_indent = true



[[patches]]
[patches.pattern]
target = "functions/common_events.lua"
pattern = """    local trigger = 'before'"""
position = "before"
payload = """
local akyrs_update_score = nil
"""
overwrite = true
match_indent = true



[[patches]]
[patches.pattern]
target = "functions/common_events.lua"
pattern = """play_sound(sound, 0.8+percent*0.2, volume)"""
position = "before"
payload = """
if akyrs_update_score then
    G.AKYRS_DISPLAY_QUEUE = G.AKYRS_DISPLAY_QUEUE or {}
    table.remove(G.AKYRS_DISPLAY_QUEUE, 1)
    G.HUD:get_UIE_by_ID('chip_UI_count'):juice_up(0.3, 0.3)
end
"""
overwrite = true
match_indent = true




[[patches]]
[patches.pattern]
target = "functions/state_events.lua"
pattern = """            SMODS.calculate_context({end_of_round = true, game_over = game_over, beat_boss = G.GAME.blind.boss })"""
position = "after"
payload = """
AKYRS.copper_eval_calculation = true
SMODS.calculate_context({akyrs_copper_end_of_round = true, game_over = game_over, beat_boss = G.GAME.blind.boss })
AKYRS.simple_event_add(function() AKYRS.copper_eval_calculation = nil return true end, 0)"""
overwrite = true
match_indent = true



[[patches]]
[patches.pattern]
target = '=[SMODS _ "src/utils.lua"]'
pattern = """    local eff, triggered = individual.object:calculate(context)"""
position = "before"
payload = """
if not individual or not individual.object then SMODS.pop_from_context_stack(context, "utils.lua : SMODS.eval_individual") return ret, post_trig end
"""
overwrite = true
match_indent = true


[[patches]]
[patches.pattern]
target = '=[SMODS _ "src/overrides.lua"]'
pattern = """			if SUITS[v.base.suit][v.base.value] and not v_nr and not v_ns then"""
position = "at"
payload = """
if v and v.base and v.base.suit and v.base.value and SUITS[v.base.suit][v.base.value] and not v_nr and not v_ns then
"""
overwrite = true
match_indent = true


[[patches]]
[patches.pattern]
target = '=[SMODS _ "src/overrides.lua"]'
pattern = """			if not v_nr then"""
position = "at"
payload = """if not v_nr and v.base and v.base.value then
"""
overwrite = true
match_indent = true


[[patches]]
[patches.pattern]
target = 'functions/state_events.lua'
pattern = """    -- TARGET: effects after hand evaluation"""
position = "after"
payload = """G.GAME.current_round.akyrs_hands_played = G.GAME.current_round.akyrs_hands_played or {}
G.GAME.current_round.akyrs_hands_played[text] = true
"""
overwrite = true
match_indent = true



[[patches]]
[patches.pattern]
target = 'functions/button_callbacks.lua'
pattern = """  local new_chips_text = number_format(G.GAME.chips)"""
position = "after"
payload = """if G.AKYRS_DISPLAY_QUEUE and G.AKYRS_DISPLAY_QUEUE[1] then 
    new_chips_text = number_format(G.AKYRS_DISPLAY_QUEUE[1])
    if G.GAME.chips_text ~= new_chips_text then
        e.config.scale = math.min(0.8, scale_number(G.AKYRS_DISPLAY_QUEUE[1], 1.1))
        G.GAME.chips_text = new_chips_text
    end
    return
end
"""
overwrite = true
match_indent = true
