[manifest]
version = "1.2"
dump_lua = true
priority = 0


[[patches]]
[patches.pattern]
target = "card.lua"
pattern = """    local badges = {}"""
position = "after"
payload = """
            loc_vars = loc_vars or {}
            -- if (self.is_null or SMODS.has_enhancement(self, "m_akyrs_scoreless")) and loc_vars then
            --     loc_vars.nominal_chips = nil
            -- end
"""
overwrite = true
match_indent = true



[[patches]]
[patches.pattern]
target = "card.lua"
pattern = """    if self.ability.name == 'The Wheel of Fortune' or self.ability.name == 'Ectoplasm' or self.ability.name == 'Hex' then"""
position = "before"
payload = """
if self.ability.name == 'The Wheel of Fortune' then
    if next(SMODS.find_card("j_akyrs_tsunagite")) then
        SMODS.calculate_effect({
            message = localize("k_akyrs_tsunagi_absurd_wheel_nope")
        },self)
        return
    end
end
"""
overwrite = true
match_indent = true



[[patches]]
[patches.pattern]
target = "functions/common_events.lua"
pattern = """            text = localize{type='variable',key='a_xchips'..(amt<0 and '_minus' or ''),vars={math.abs(amt)}}"""
position = "at"
payload = """            text = Talisman and localize{type='variable',key='a_xchips'..(to_big(amt)<to_big(0) and '_minus' or ''),vars={math.abs(amt)}} or localize{type='variable',key='a_xchips'..(amt<0 and '_minus' or ''),vars={math.abs(amt)}}"""
overwrite = true
match_indent = true



[[patches]]
[patches.pattern]
target = "functions/state_events.lua"
pattern = """            G.STATE = G.STATES.HAND_PLAYED"""
position = "before"
payload = """SMODS.calculate_context({akyrs_pre_play = true, akyrs_pre_play_cards = G.hand.highlighted})
"""
overwrite = true
match_indent = true



[[patches]]
[patches.pattern]
target = "functions/button_callbacks.lua"
pattern = """              G.STATE = G.STATES.SHOP"""
position = "before"
payload = """
if G.GAME.akyrs_always_skip_shops then
    G.STATE = G.STATES.BLIND_SELECT
else
"""
overwrite = true
match_indent = true

[[patches]]
[patches.pattern]
target = "functions/button_callbacks.lua"
pattern = """   G.STATE = G.STATES.SHOP"""
position = "after"
payload = """end"""
overwrite = true
match_indent = true


[[patches]]
[patches.pattern]
target = "blind.lua"
pattern = """        self.chips = get_blind_amount(G.GAME.round_resets.ante)*self.mult*G.GAME.starting_params.ante_scaling"""
position = "after"
payload = """self.chips = AKYRS.mod_blind_requirement(self,self.chips)"""
overwrite = true
match_indent = true


[[patches]]
[patches.pattern]
target = "card.lua"
pattern = """    if not initial and delay_sprites ~= "quantum" and G.GAME.blind then G.GAME.blind:debuff_card(self) end"""
position = "before"
payload = """if G.GAME.blind and G.GAME.blind.debuff_card then"""
overwrite = true
match_indent = true



[[patches]]
[patches.pattern]
target = "card.lua"
pattern = """    if not initial and delay_sprites ~= "quantum" and G.GAME.blind then G.GAME.blind:debuff_card(self) end"""
position = "after"
payload = """end"""
overwrite = true
match_indent = true


[[patches]]
[patches.pattern]
target = "functions/state_events.lua"
pattern = """        hand_chips = mod_chips(G.GAME.hands[text].chips)"""
position = "after"
payload = """AKYRS.base_cm_mod(G.play.cards, {text,disp_text,poker_hands,scoring_hand,non_loc_disp_text}, hand_chips, mult)"""
overwrite = true
match_indent = true

